<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789979172792-ha99jet3moen5kp9hhsolh9ka9n59ksd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789979172792-ha99jet3moen5kp9hhsolh9ka9n59ksd</string>
	<key>API_KEY</key>
	<string>AIzaSyBfYIBkd9CCG3Wj-Y_-h4Krr6sA0l3zdgo</string>
	<key>GCM_SENDER_ID</key>
	<string>789979172792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-79188</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-79188.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789979172792:ios:40aa0aff314cad6e12894d</string>
</dict>
</plist>